.OpeningTimes {
  margin-top: 50px;
  /* background-color: cadetblue; */
  width: 150px;
}

.Title {
  font-family: Circular-bold;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  text-align: center;
}

.DaysAndTimes {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  /* background-color: burlywood; */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: space-between;
}


.SingleDayAndTime {
  /* background-color: aqua; */
  /* width: 100%; */
  box-sizing: border-box;
  padding: 3px;
  margin-top: 3px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;  
}

.Day {
  font-family: Circular-black;
  width: 50px;
  margin-right: 10px;
  margin-left: -10px;
}

.Day div {
  float: right; 
}

.Time {
  margin-left: 3px;

}