
.SuperUser {

}

.SuperUser input {
  width: 400px;
  padding: 5px;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  background-color: rgb(236, 236, 236);
  text-align: center;
}
.SuperUser input:focus {
  outline: none !important;
  border:1px solid #ffbc2c;
  box-shadow: 0 0 10px #ffaf04;
}

.AddDealButton {
  /* float: right; */
  margin-top: 30px;
}

.ResultWrapper {
  margin-top: 40px;
}

.Result {
  padding: 10px;
  width: 400px;
  margin: auto;
  margin-top: 10px;
  font-size: 20px;
  background-color: whitesmoke;
}

.Result:hover {
  background-color: rgb(181, 181, 181);
}