.LocationDetails {
  text-align: left;
  padding: 20px;
  max-width: 1000px;
  margin: auto;
  position: relative;
}

.LocationDetails h1 {
  font-size: 25px;
  font-family: Circular-bold;
  margin: auto;
}

.DetailsButton {
  position: absolute;
  margin-top: 85px;
  margin-right: 30px;
  top: 0px;
  right: 0;
}

.Edit {
  width: 30px;
}

.Edit:hover {
  width: 35px;
}